<div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
       <ul id="iq-sidebar-toggle" class="iq-menu">
          <li class="active">
             <a href="./index.html" class=" ">
                <i class="las la-newspaper"></i><span>Newsfeed</span>
             </a>
          </li>
          <li class="">
             <a href="./app/profile.html" class=" ">
                <i class="las la-user"></i><span>Profile</span>
             </a>
          </li>
          <li class="">
             <a href="./app/group.html" class=" ">
                <i class="las la-users"></i><span>Group</span>
             </a>
          </li>
       
       </ul>
    </nav>
    <div class="p-5"></div>
 </div>