<div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
       <ul id="iq-sidebar-toggle" class="iq-menu">
          <li class="active">
             <a href="./index.html" class=" ">
                <i class="las la-newspaper"></i><span>Головна</span>
             </a>
          </li>
         <li class="">
            <a href="../sign-in.html" class=" ">
               <i class="las la-users"></i><span>Вхід</span>
            </a>
         </li>
         <li class="">
            <a href="../sign-up.html" class=" ">
               <i class="las la-users"></i><span>Реєстрація</span>
            </a>
         </li>
       
       </ul>
    </nav>
    <div class="p-5"></div>
 </div>